In [20]:
import pprint
import requests     # 2.18.4
import json  
import pandas as pd

# Recursos
https://www.pythonsherpa.com/tutorials/2/

In [25]:
# Base url for package information. This is always the same.
base_url = 'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id='

dataset = '5539d248-2fe0-4ecc-89f5-c695ec7efa3c' # dataset 2022_01_Gener_ITINERARIS_ITINERARIS
# Construct the url for the package of interest
package_information_url = base_url + dataset

# Make the HTTP request
package_information = requests.get(package_information_url)

# Use the json module to load CKAN's response into a dictionary
package_dict = json.loads(package_information.content)

# Check the contents of the response.
assert package_dict['success'] is True  # again make sure if response is OK
package_dict = package_dict['result']   # we only need the 'result' part from the dictionary

# pprint.pprint(package_dict)

In [26]:
pd.DataFrame(package_dict['records'])

,idTram,tempsPrevist,tempsActual,factorReferenciaActual,tempsRecorregutFutur,tendencia,_id,data,infoDisponible
0,1,301,300,1,1,1,1,20220101000054,1
1,2,255,255,1,1,1,2,20220101000054,1
2,3,305,304,1,1,1,3,20220101000054,1
3,4,0,0,-1,-1,-1,4,20220101000054,1
4,5,174,174,1,1,1,5,20220101000054,1
...,...,...,...,...,...,...,...,...,...
95,18,0,0,-1,-1,-1,96,20220101000555,1
96,19,0,0,-1,-1,-1,97,20220101000555,0
97,20,0,0,-1,-1,-1,98,20220101000555,0
98,21,0,0,-1,-1,-1,99,20220101000555,1
99,22,0,0,-1,-1,-1,100,20220101000555,1